[submodule "extern/szs_soundzone_protocol"]
	path = extern/szs_soundzone_protocol
	url = git@github.com:NielsDyrberg/szs_soundzone_protocol.git
[submodule "extern/szs_time_sync"]
	path = extern/szs_time_sync
	url = https://github.com/NielsDyrberg/szs_time_sync.git
